# MySQL database environment variables
DBHOST=YourMySQLServerURLhere
DBUSER=YourUsernameHere
DBPASSWD=YourPasswordHere
DBPORT=YourPortNumberHere
DBNAME=YourDatabaseNameHere
# authentication (Auth0) environment variables
ISSUER_BASE_URL=https://YOUR_DOMAIN     # DOMAIN listed in your Auth0's application
CLIENT_ID=YOUR_CLIENT_ID                # CLIENT_ID listed in your Auth0's application
BASE_URL=https://YOUR_APPLICATION_ROOT_URL  # Where your application starts (default is http://localhost:3000)
SECRET=LONG_RANDOM_VALUE                # Any random 32-character string you want to type
# port number for express to listen on
PORT=Port_Number